---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.astro';
import GetInvolved from '../components/GetInvolved.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
  title="Marcelo Peretta | Doctor, Sindicalista y Político Comprometido" 
  description="Marcelo Peretta es un doctor, sindicalista y político comprometido con el bienestar de la comunidad. Únete a nuestro movimiento para construir un futuro mejor para todos."
>
  <main>
    <Hero />
    <Stats />
    <GetInvolved />
  </main>
  <Footer />
</Layout>